.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: row;
}

/* Navigation-bar */
.Navigation-bar {
  height: 100%;
  width: 15%;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Navigation-bar img {
  width: 80%;
  padding: 30px 0;
}

.Navigation-bar a {
  margin: 10px 0px;
  color: white;
  text-decoration: none;
}

.Navigation-bar a:hover {
  font-weight: bold;
}

/* Home Page */
.Home-Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 85%;
  background-color: #313131;
  color: white;
}

.Home-Content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  height: 700px;
}

.Home-Left {
  height: 700px;
  width: 535px;
}

.Home-Right {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 535px;
}

.Home-Buttons {
  margin: 10px 0;
}

.Image-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Scan-Results {
  margin: 20px 0;
  height: 700px;
}

.Scan-Button {
  background-color: #ff5100;
  color: #fff;
  border: none;
  margin: 0 20px;
  border-radius: 10px;
  width: 170px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 24px;
}

.Scan-Button:hover {
  background-color: #b43900;
}

.Filter {
  margin: 0 0 20px 0;
}

.Error {
  color: crimson;
}

.Event-Data-Table {
  width: 80%;
  overflow-wrap: break-word;
  margin: 0 0 11px 0;
}

.Event-Data-Table td:nth-child(1) {
 text-align: left;
 font-weight: bold;
}

.Event-Data-Table td:nth-child(2) {
  text-align: right;
  color: #ff5100;
}

.Detection-Title {
  font-weight: bold;
  color: #222222;
}

.Detection-Table {
  background-color: #575757;
  padding: 5px;
  border-radius: 15px;
}

/* Other Pages */
.Account, .Settings {
  width: 85%;
}